.flex-container {
    width: 800px;
    margin-left: 100PX;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 10;
}



.flex-container2 {
    width: 100px;
    margin-left: 20PX;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 6;

}



.user-card {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.user-card2 {

    position: relative;
    bottom: 500px;
    left: 650px;
   
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

button{
    
        border-radius: 50%;
        padding: 50px;
        display: flex;
        position: relative;
    
}

.user-card3 {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.user-card4 {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
    
}
.card-header {
    background-color: #17a2b8;
    height: 125px;
    width: auto;
    margin-bottom: 70px;
    align-content: stretch;

}

.card-header2 {
    background-color: gray;
    color: #333;
    font-size: 20px;
    border-radius: 12px;
    height: 24px;
    padding: 0 10px;
    margin-right: 10px;
  
    
}
.card-header3 {
    background-color: #eee;
    color: #333;
    font-size: 20px;
    border-radius: 12px;
    height: 24px;
    padding: 0 10px;
    margin-right: 10px;
}
.card-header4 {
    background-color: #eee;
    color: #333;
    font-size: 20px;
    border-radius: 12px;
    height: 24px;
    padding: 0 10px;
    margin-right: 10px;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon-s {
    height: 20px;
}

a {
    color: #3a81e6;
}

.header{
    background-color: #333333;
    padding: 20px;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
